@model NewsWebsite.ViewModels.ArticleDeleteVM

@{
    ViewData["Title"] = "Xóa bài viết";
    Layout = "_LayoutAdmin";
}

<h1>Xóa</h1>

<h3>Bạn chắc chắn muốn xóa bài viết này?</h3>
<div>
    <h4>Bài viết</h4>
    <hr />

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Thông tin bài viết</h5>
                <table class="table align-middle mb-4" style="max-width: 100%">
                    <tbody>
                        <tr>
                            <th scope="row">Mã bài viết</th>
                            <td>@Model.Id</td>
                        </tr>
                        <tr>
                            <th scope="row">Tác giả</th>
                            <td>@Model.Author</td>
                        </tr>
                        <tr>
                            <th scope="row">Ngày đăng bài</th>
                            <td>@Model.Date.ToString("dd/MM/yyyy")</td>
                        </tr>
                        <tr>
                            <th scope="row">Lượt xem</th>
                            <td>@Model.Views</td>
                        </tr>
                        <tr>
                            <th scope="row">Trạng thái</th>
                            <td>
                                @if (Model.Published)
                                {
                                    <span class="badge rounded-pill bg-success">Đã phát hành</span>
                                }
                                else
                                {
                                    <span class="badge rounded-pill bg-danger">Chưa phát hành</span>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa bài viết" class="btn btn-danger my-3" /> |
        <a class="btn btn-outline-primary"asp-action="Index">Quay về danh sách</a>
    </form>
</div>
