@model NewsWebsite.Models.Category

@{
    ViewData["Title"] = "Xóa danh mục";
    Layout = "_LayoutAdmin";
}

<h1>Xóa</h1>

<h3>Bạn chắc chắn muốn xóa danh mục này?</h3>
<div>
    <h4>Danh mục</h4>
    <hr />

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Thông tin danh mục</h5>
                <table class="table align-middle mb-4" style="max-width: 100%">
                    <tbody>
                        <tr>
                            <th scope="row">Mã danh mục</th>
                            <td>@Model.Id</td>
                        </tr>
                        <tr>
                            <th scope="row">Tên danh mục</th>
                            <td>@Model.Name</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa danh mục" class="btn btn-danger my-3" /> |
        <a class="btn btn-outline-primary" asp-action="Index">Quay về danh sách</a>
    </form>
</div>
